.item-update-btn {
  border: none;
  outline: none;
  background: transparent;
}

// TODO: フッターを画面の一番下で固定しつつ、Todo が最下位に来ると連動して移動させたい
.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.extra-link-icon {
  font-size: 8px;
}